html
    font-family: 'Times New Roman', serif
    font-size: 18px
    padding: 1em

#left
    width: 48%
    position: absolute
    float: left

#right
    width: 48%
    position: absolute
    float: right
